// Define width breakpoints
$medium: 576px;
$large: 768px;
$xlarge: 1024px;

// Define colour palette
$red: #e44;
$pink: #e69;
$light_purple: #96c;
$dark_purple: #000;
$indigo: #000;
$dark_blue: #2d353b;
$medium_blue: #1565c0;
$light_blue: #e3f2fd;
$cyan: #000;
$teal: #000;
$dark_green: #1a7;
$light_green: #000;
$lime: #000;
$yellow: #fc4;
$amber: #000;
$light_orange: #f84;
$dark_orange: #000;