:local {

	.round {
		border-radius: 50%;
	}
	.rounded {
		border-radius: $radius;
	}
	.unselectable {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}

}