@import '../styles/mixins';

:global {

	* {
		box-sizing: border-box;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		color: rgba(0, 0, 0, 0.87);
		font-size: 1.1em;
		line-height: 1.5;

		@include width(large) {
			font-size: 1.25em;
		}

		#wrapper {
			float: left;
			width: 100%;
		}
	}

}

:local {

	.app {
		float: left;
		width: 100%;
	}

}