@import '../../styles/config';

:local {

	.link_button {
		background-color: $medium_blue;
		border: none;
		border-radius: 50%;
		bottom: 1rem;
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
		cursor: pointer;
		//height: 50px;
		padding: 1rem;
		position: fixed;
		right: 1rem;
		//width: 50px;

		i {
			color: rgba(255, 255, 255, 1);
		}
	}

}