@import '../../styles/config';
@import '../../styles/extends';

:local {

	.verse {
		display: flex;
		float: left;
		font-family: Georgia, serif;
		padding: 1rem;
		position: relative;
		width: 100%;

		@extend .unselectable;

		&[data-is-selected=true] {
			background-color: $medium_blue;
			color: #fff;

			sup {
				color: rgba(255, 255, 255, 0.5);
			}
			p {
				color: rgba(255, 255, 255, 1);

				q {
					color: inherit;
				}
			}
		}

		sup {
			color: rgba(0, 0, 0, 0.38);
			flex: 0 0 auto;
			padding-right: 1rem;
		}
		p {
			color: rgba(0, 0, 0, 0.87);
			flex: 1 1 auto;

			q {
				color: $red;

				&::before {
					content: "";
				}
				&::after {
					content: "";
				}
			}
		}
	}

}