@import '../../styles/config';
@import '../../styles/extends';

:local {

	.container {
		padding: 1rem;
		width: 100%;

		@extend .unselectable;

		&.selected {
			background-color: $blue;
			color: rgba(255, 255, 255, 1);

			.number {
				color: rgba(255, 255, 255, 0.5);
			}
			.text {
				color: rgba(255, 255, 255, 1);

				q {
					color: inherit;
				}
			}
		}
		&.rounded_top {
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
		}
		&.rounded_bottom {
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
		}

		.number {
			color: rgba(0, 0, 0, 0.38);
			font-family: Georgia, serif;
		}
		.text {
			color: rgba(0, 0, 0, 0.87);
			font-family: Georgia, serif;

			q {
				color: $red;

				&::before, &::after {
					content: "";
				}
			}
		}
	}

}